@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2f2f2f;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-family: 'Press Start 2P', system-ui;
}

h2{
  font-family: 'Audiowide', sans-serif;
}