.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: 'Audiowide', sans-serif;
}


.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: 'Audiowide', sans-serif;
}

li {
    margin: 0.5rem;
    cursor: pointer;

}

li:hover {
    transform: translateY(2px);
    color: rgb(0, 42, 255);
}

li:active {
    color: rgb(0, 42, 255);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 10rem;

}

.nav {
    padding: 0 10rem;
}

.open {
    display: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



@media (max-width: 1024px) {
    .link {
        display: none;
    }

    .nav {
        padding: 2rem 2rem;
    }

    .open {
        display: block;
        scale: 1.5;
    }

    .link {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #1D4354;
        transition: 1s;
        font-size: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: column;

    }

    .mobile {
        transform: translateY(100vh);
    }
}

@media (max-width: 767px) {
    .open {
        display: block;
        scale: 1.5;
        z-index: 1;

    }


    .link {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        font-size: 2rem;
        z-index: 1;
        background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .menu {
        display: flex;
        flex-direction: column;
        z-index: 1;

    }

    .mobile {
        transform: translateY(100vh);
        z-index: 1;
    }

    .search {
        visibility: hidden;
    }

}